/* cabeçalho 01 */
.cabecalhoInfo {
  padding: 0.75rem 0;
}

.AreaGroupCabecalho {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.logoAndInputArea {
  display: flex;
  flex-wrap: wrap;
}

.styleTxtPrimary {
  color: var(--primary);
  font-weight: 700;
}

.styleTxtSecondary {
  color: var(--black);
  font-size: 0.8rem;
}

.cabecalhoInfo-logo {
  width: 10rem;
}

.cabecalhoInfo .logo-area {
  margin-right: 0.75rem;
}

.formSearch {
  display: flex;
  width: 500px;
  max-width: 600px;

  align-items: center;
}

.formSearch-searchBox {
  height: 48px;
  width: 100%;
  border-radius: 12px 0 0 12px;
  border: 1px solid var(--gray-300);
  border-right: none;
  font-size: 0.9rem;
  padding-left: 1rem;
}

.formSearch-searchBox:focus {
  height: 44px;
  border: 1px solid transparent;
}

.formSearch .btn-search {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);

  height: 48px;
  width: 55px;
  border-radius: 0 12px 12px 0;
}

.btn-search:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-search img {
  width: 30px;
  height: 30px;
}

.accountArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accountArea a {
  color: var(--black);
}

.meuCarrinhoCabecalho {
  display: flex;
  align-items: center;
}

.meuCarrinhoCabecalho a {
  text-decoration: none;
}

/* cabeçalho 02 */
.cabecalhoMenu {
  background-color: var(--primary);
}

.navArea {
  
}

.navArea ul {
  display: flex;
}

.navItem {
  flex: 1 1 auto;
  position: relative;
}

.navItem-menuOpen {
  width: 14rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navLinkItem {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  align-items: center;
  justify-content: center;
  text-decoration: none;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.navLinkItem:hover {
  height: calc(100% -5px);
  border-bottom: 5px solid var(--primary-500);
  opacity: 0.9;
  transition: all ease 0.3s;
}

.navMain .navLinkItem::after {
  content: "";
  width: 3px;
  height: 35px;
  background-color: var(--primary-300);
  position: absolute;
  right: 0;
}

.navLinkItem span {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--white);
}

.navItem-natal {
  padding-top: 8px;
}

.navItemLink-menuOpen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

.iconArrow img {
  width: 50%;
}
