:root {
  --primary: #ff4f01;
  --primary-300: #dd4200;
  --primary-500: #b93800;

  --green: #06cc84;
  --green-hover: #038354;

  --bg-color-banner-destaque: #edf5f8;

  --main-text-color: #706d6d;

  --blue: #518ad0;

  --white: #fff;
  --black: #000;

  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-500: #7c7c8a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background: var(--white);
  color: var(--main-text-color);
}

body,
input,
textarea,
button {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
