.models {
  display: none;
}

.internalRow {
  max-width: 76rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 1rem;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--primary);
}

.overlayBackground {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: none;

  background-color: var(--black);
  opacity: 0.5;

  z-index: 10;

  transition: all 0.4s ease;
}

/* limpar o 'X' do Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* limpar o 'X' do Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* BreadCrumb */
.areaBreadCrumb {
  padding: 1rem 0;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb .home {
  font-size: 0.7rem;
}

.breadcrumb .arrowResponsive {
  display: none;
}

.breadcrumb a {
  color: var(--gray-500);
  text-decoration: none;
}

.breadcrumb li:last-child a {
  color: var(--primary);
  font-weight: 700;
  font-size: 0.8rem;
  cursor: text;
}

.areaBreadCrumb .breadcrumb li + li::before {
  padding: 8px;
  color: var(--gray-500);
  content: "/\00a0";
}

.breadcrumb li a:hover:not(.activeBreadCrumb) {
  color: var(--black);
}

/* areaDestaque */
.areaDestaque {
  background-color: var(--bg-color-banner-destaque);
  padding: 0.5rem;
  border-bottom: 1px solid var(--primary);
}

.areaDestaque-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.areaDestaque-content img {
  max-width: 100%;
}

.areDestaqueDescricao {
  flex-shrink: 0;
  flex-basis: 50%;
}

.areDestaqueDescricao h1 {
  color: var(--primary);
  line-height: 1.7;
}

.areDestaqueDescricao p {
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 2rem;
}

.areDestaqueDescricao a,
.recolherTexto {
  color: var(--primary);
  font-size: 0.8rem;
}

.areDestaqueDescricao a:hover,
.recolherTexto:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* area de destaque escondida */
.areaDestaqueTextoEscondido {
  padding: 0 7.5rem;
}

.areaDestaqueEscondido {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.75rem;
  flex-wrap: wrap;
}

.areaDestaqueEscondido-item {
  background-color: var(--bg-color-banner-destaque);
  padding: 1.75rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

  border-radius: 12px;
}

.itemDescricao h2 {
  margin: 2.5rem 0 1rem 0;
  font-size: 1.3rem;
  color: var(--primary);

  text-align: center;
}

.itemDescricao p {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
}

.areaDestaqueEscondido-item h3 {
  font-size: 1rem;
  color: var(--primary);
}
.areaDestaqueEscondido-item p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0.7rem 0;
}

.areaDestaqueEscondido-item ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 1.5rem;
}

.areaDestaqueEscondido-item ul li {
  list-style: disc;
  font-size: 0.9rem;
  line-height: 1.5;
}

.areaDestaqueEscondido-item ul li a {
  text-decoration: none;
  color: var(--gray-700);
}

.areaDestaqueEscondidoDicas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1.25rem;
}

.recolherTexto {
  display: flex;
  margin-top: 2rem;
  width: 100%;

  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.js-accordion {
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.js-accordion.ativo {
  animation: slideDown 0.6s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* area de filtros */
.areaFiltros {
  padding: 1.25rem 0;
}

.areaFiltros-itens {
  display: flex;
  gap: 1.5rem;

  justify-content: end;
}

.filtroItem {
  font-size: 0.75rem;

  color: var(--main-text-color);
}

.filtroItem select {
  border-radius: 4px;
  height: 40px;
  padding: 0.8rem 1.75rem 0.8rem 0.8rem;
  color: var(--main-text-color);
  appearance: none;

  border: 1px solid var(--gray-300);
  background-image: url("../images/icons/iconArrowDown-select.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.5rem;
}

.filtroItem select:focus {
  outline: 0;
}
/** Area Filtros Responsivo **/
.areaFiltrarResponsivo {
  min-width: 100%;
  display: none;
}
.areaFiltrarResponsivo button {
  outline: 0;
  border: 0;
  background-color: var(--primary);
  padding: 0.9rem;
  color: var(--white);
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.areaFiltrarResponsivo button:hover {
  opacity: 0.9;
}

/* area de produtos */
/** Aside Menu */
.areaListaProdutos {
  width: 100%;
}

.AreaProdutosSections {
  display: flex;
}

.areaAside {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 25%;
}

.areaAside .titleCategoria {
  line-height: 2;
  color: var(--primary);
  font-weight: 700;
}

.areaAside .categoria-itens {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.areaAside .categoria-itens .valores {
  display: inline-block;
  gap: 2rem;
}

.areaAside .categoria-itens a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--main-text-color);
}
.areaAside .categoria-itens a:hover,
.areaAside .categoriasList-verMais:hover {
  color: var(--primary);
}

.areaAside .categoriasList-verMais {
  font-size: 0.8rem;
  text-decoration: underline;
  color: var(--main-text-color);

  display: inline-block;
  margin-top: 0.5rem;
}
/** Lista produtos **/
.areaProdutos-itens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border: 1px solid transparent;
}

.link:hover {
  cursor: pointer;
  border: 1px solid #d3c9c7;
}

.link .produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  position: relative;
}

.link .produto img {
  max-width: 15rem;
}

.produto .areaNomeProduto {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto .seloFreteGratis {
  width: 30%;
  position: absolute;
  left: 0.5rem;
  top: 0;
  display: none;
}

.produto .areaDesconto {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: start;
}

.produto .areaDesconto span {
  display: inline-block;
  background-color: var(--black);
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  padding: 0.25rem 0.6rem;
  border-radius: 4px;
}

.produtoInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produtoInfo .areaStars {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  color: orange;
}

.produtoInfo .stars {
  font-size: 1.5rem;
  display: flex;
}

.produtoInfo .starsValue {
  font-size: 0.75rem;
}

.produtoInfo .areaImgMarca {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.produtoInfo .areaImgMarca img {
  max-width: 100%;
  width: 7rem;
}

.produtoInfo .areaSelos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.produtoInfo .areaSelos img {
  max-width: 100%;
}

.areaSelos .seloProcel {
  width: 3.5rem;
}
.areaSelos .seloVoltagem {
  width: 1.75rem;
}

.areaValores {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.areaValores .valor {
  color: cornflowerblue;
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.areaValores span {
  font-size: 0.75rem;
}

.areaValores .pixBoleto {
  color: cornflowerblue;
  font-weight: 600;
}

.produtoInfo button {
  width: 100%;
  height: 2.75rem;
  padding: 0.5rem 0.5rem;
  margin: 0.7rem 0;

  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--green);

  color: var(--white);
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.produtoInfo button:hover {
  cursor: pointer;
  background-color: var(--green-hover);
}

.produtoInfo button img {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/* Area Paginação */
.areaPaginacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem 0 1rem;
}

.areaEncontrados {
  font-size: 0.75rem;
}

.areaControls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.areaControls a {
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--main-text-color);

  display: inline-block;
}

.iconArrowPaginacao {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.areaControls .iconArrowPaginacao span {
  font-size: 1.1rem;
}

.areaControls a:hover:not(.disabled) {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--white);
}

.areaControls a.ativo {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid transparent;
}

.areaControls a.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--gray-400);
}

.footerContent img {
  width: 8rem;
  margin-top: 1rem;
}

/* Scroll to Top */
.scrollToTop {
  cursor: pointer;

  outline: 0;
  border: 0;
  border-radius: 50%;

  height: 4rem;
  width: 4rem;

  background-color: rgb(237, 170, 47);

  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;

  bottom: 1rem;
  right: 1rem;
  z-index: 80;

  opacity: 0;

  transition: all 0.5s ease;
}

.scrollToTop .icon {
  font-size: 2.5rem;
  transform: rotate(-90deg);
  margin-right: 0.45rem;

  margin-bottom: -8px;
}

.scrollToTop .txt {
  font-size: 0.6rem;
  margin-bottom: 8px;
}

.scrollToTop.ativo {
  opacity: 1;
}

.scrollToTop:hover {
  opacity: 0.9;
}

/* Menu Responsivo */
.areaMenuResponsive {
  background-color: var(--white);
  width: 0vw;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all ease 0.2s;
  z-index: 999;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}

.areaMenuResponsive.ativo {
  width: 40vw;
  overflow-y: auto;
}

.areaInternaMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  justify-content: center;
}

.areaMenuResponsive .imgArea {
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.areaMenuResponsive .imgArea img {
  width: 8rem;
}

.areaMenuResponsive .menu-closer {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}

.areaMenuResponsive .menu-closer span {
  margin-right: 1rem;
}

.areaMenuResponsive .menu-closer span:hover {
  cursor: pointer;
  color: var(--primary);
}

.areaMenuResponsive ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.areaMenuResponsive ul li {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;

  padding: 1.2rem 2rem;
  border-left: 3px solid transparent;
}

.areaMenuResponsive ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 0.9rem;
}

.areaMenuResponsive ul li:hover a {
  color: var(--primary);
}

.areaMenuResponsive ul li:hover {
  border-left: 3px solid var(--primary);
}

.areaMenuResponsive ul li img {
  width: 16px;
  height: 16px;
}

.areaMenuResponsive .info {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.areaMenuResponsive .info .itemInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.areaMenuResponsive .info .itemInfo:hover {
  color: var(--primary);
}

.areaMenuResponsive .info img {
  width: 1.75rem;
}

/* Cart Area */
.cart-area {
  background-color: var(--white);
  width: 0vw;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease 0.2s;
  z-index: 999;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
}

.cart-area.ativo {
  width: 30vw;
  overflow-y: auto;
}

.cart-detales {
  position: relative;
  height: 100%;
  justify-content: center;
  padding: 5rem 0.75rem 0 0.75rem;
}

.cart-area .menu-closer {
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
}

.cart-area .menu-closer:hover {
  color: var(--primary);
}

.area-cart-vazio {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.area-cart-vazio.ativo {
  display: flex;
}

.area-cart-vazio span {
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
}

.area-cart-vazio p {
  font-size: 0.9rem;
  color: var(--gray-500);
  text-align: center;
}

.cart-area .cart-button {
  outline: 0;
  border: 0;
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  width: 80%;
}

.cart-area .cart-button:hover {
  opacity: 0.9;
}

.cart-area .continuarComprando:hover {
  background-color: var(--primary);
  color: var(--white);
}

.cart-area-ProdutoInfo {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;

  margin-top: 1.5rem;
}

.cart-area-ProdutoInfo.ativo {
  display: flex;
}

.cart-area-ProdutoInfo .cart-qtd {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  height: 30px;
}

.cart-area-ProdutoInfo .cart-qtd-valor {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0 0.25rem;
  color: var(--black);
}

.cart-area-ProdutoInfo .cart-qtd button {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;
  padding: 0px 10px;
  color: #333;
}

.model-produto-cartArea {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem;

  margin-bottom: 1.5rem;
}

.model-produto-cartArea img {
  width: 6rem;
}

.model-cart-nomeProduto {
  padding-right: 0.5rem;
}

.model-cart-valorProduto {
  color: var(--primary);
  font-weight: 600;
}

.cart-totalValor {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
}
