@media (max-width: 1064px) {
  .AreaGroupCabecalho {
    display: flex;
    justify-content: space-around;
  }

  .accountArea,
  .meuCarrinhoCabecalho {
    display: none;
  }

  .areaAccountCartResponsive {
    display: flex;
  }

  .areaProdutos-itens {
    grid-template-columns: repeat(2, 1fr);
  }

  .areaDestaque-content img {
    width: 48%;
  }

  .areaPaginacao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .cart-area.ativo {
    width: 40vw;
  }
}

@media (max-width: 980px) {
  .cabecalhoMenu {
    display: none;
  }

  .areaButtonMenuResponsivo {
    display: flex;
  }

  .mainCabecalho {
    border-bottom: 1px solid var(--gray-300);
  }
}

@media (max-width: 820px) {
  .areaAside {
    display: none;
  }
  .areaFiltros .areaFiltros-itens {
    display: none;
  }
  .areaFiltrarResponsivo {
    display: flex;
  }
  .areaDestaqueTextoEscondido {
    padding: 0 2.5rem;
  }
  .cart-area.ativo {
    width: 50vw;
  }
}

@media (max-width: 740px) {
  .areaAccountCartResponsive {
    display: none;
  }

  .areaMenuResponsive.ativo {
    width: 55vw;
  }

  .areaMenuResponsive .info {
    display: flex;
  }

  .logoAndInputArea {
    flex-direction: column;
  }

  .areaDestaque {
    padding: 1rem 0;
  }

  .areaDestaque-content {
    flex-direction: column;
  }
  .areaDestaque-content img {
    width: 60%;
  }
  .areDestaqueDescricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .areDestaqueDescricao .leiaMais {
    display: inline-block;
    background-color: var(--primary);
    color: var(--white);
    padding: 0.75rem;
    font-size: 0.75rem;
    width: 100%;
    border-radius: 4px;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .areaPaginacao .areaControls a:first-child {
    display: none;
  }
  .areaPaginacao .areaControls a:last-child {
    display: none;
  }
  .link .produto img {
    max-width: 12rem;
  }
  .areaDestaqueEscondidoDicas {
    grid-template-columns: repeat(1, 1fr);
  }
  .cart-area.ativo {
    width: 60vw;
  }
}

@media (max-width: 580px) {
  .areaMenuResponsive.ativo {
    width: 75vw;
  }
  .areaDestaqueTextoEscondido {
    padding: 0 1rem;
  }

  .breadcrumb li:last-child a {
    color: var(--gray-400);
    font-size: 0.75rem;
  }

  .breadcrumb .home {
    display: none;
  }
  .breadcrumb .arrowResponsive {
    font-size: 1.5rem;
    display: flex;
  }
  .areaBreadCrumb .breadcrumb li + li::before {
    content: "";
  }
  .areaDestaque-content img {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .produtoInfo button {
    font-size: 0.8rem;
  }
  .cart-area.ativo {
    width: 100vw;   
  }
}

@media (max-width: 480px) {
  .link .produto img {
    max-width: 10rem;
  }
}

@media (max-width: 420px) {
  .areaMenuResponsive .info {
    display: flex;
    flex-direction: column;
  }
  .iconArrowPaginacao .anterior,
  .iconArrowPaginacao .proximo {
    display: none;
  }
  .formSearch-searchBox {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .areaProdutos-itens {
    grid-template-columns: repeat(1, 1fr);
  }

  .continuarComprando {
    font-size: 0.75rem;
  }
  
  .link .produto img {
    max-width: 15rem;
  }
}
